.hookHeader {
  text-align: center;
  background-color: cadetblue;
}

.hook-main {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
.btn {
  display: flex;
  /* flex-direction: column; */
  width: 100px;
  background-color: chartreuse;
}
.hook-num {
  display: flex;
  justify-content: center;
}
